<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/dygstudio</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="com/newsun/web/entity/AccountEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.AccountEntity"/>
        <mapping resource="com/newsun/web/entity/AccountBillEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.AccountBillEntity"/>
        <mapping resource="com/newsun/web/entity/AllotEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.AllotEntity"/>
        <mapping class="com.newsun.web.entity.AllotDetailEntity"/>
        <mapping resource="com/newsun/web/entity/AllotDetailEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/AnnouncementEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.AnnouncementEntity"/>
        <mapping resource="com/newsun/web/entity/AnnouncementDateLinkEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.AnnouncementDateLinkEntity"/>
        <mapping class="com.newsun.web.entity.AttachmentEntity"/>
        <mapping resource="com/newsun/web/entity/AttachmentEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/BadEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.BadEntity"/>
        <mapping resource="com/newsun/web/entity/BadDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.BadDetailEntity"/>
        <mapping resource="com/newsun/web/entity/BalanceEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.BalanceEntity"/>
        <mapping class="com.newsun.web.entity.BalanceAccountDetailEntity"/>
        <mapping resource="com/newsun/web/entity/BalanceAccountDetailEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/BalanceExpenseDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.BalanceExpenseDetailEntity"/>
        <mapping class="com.newsun.web.entity.BalanceSaleDetailEntity"/>
        <mapping resource="com/newsun/web/entity/BalanceSaleDetailEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/BeforehandEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.BeforehandEntity"/>
        <mapping class="com.newsun.web.entity.BeforehandDetailEntity"/>
        <mapping resource="com/newsun/web/entity/BeforehandDetailEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/BomEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.BomEntity"/>
        <mapping class="com.newsun.web.entity.BomDetailEntity"/>
        <mapping resource="com/newsun/web/entity/BomDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.BusinessActivityEntity"/>
        <mapping resource="com/newsun/web/entity/BusinessActivityEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.BusinessActivityDataEntity"/>
        <mapping resource="com/newsun/web/entity/BusinessActivityDataEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/ClientAccountEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.ClientAccountEntity"/>
        <mapping resource="com/newsun/web/entity/CommInOutDepotEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.CommInOutDepotEntity"/>
        <mapping resource="com/newsun/web/entity/CommInOutDepotDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.CommInOutDepotDetailEntity"/>
        <mapping resource="com/newsun/web/entity/CommissionEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.CommissionEntity"/>
        <mapping resource="com/newsun/web/entity/ConsignmentEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.ConsignmentEntity"/>
        <mapping class="com.newsun.web.entity.CustomSnEntity"/>
        <mapping resource="com/newsun/web/entity/CustomSnEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/DepotEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.DepotEntity"/>
        <mapping resource="com/newsun/web/entity/DeptEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.DeptEntity"/>
        <mapping resource="com/newsun/web/entity/DictionaryEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.DictionaryEntity"/>
        <mapping resource="com/newsun/web/entity/EmailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.EmailEntity"/>
        <mapping class="com.newsun.web.entity.EmailAttachmentEntity"/>
        <mapping resource="com/newsun/web/entity/EmailAttachmentEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/EmailUserLinkEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.EmailUserLinkEntity"/>
        <mapping resource="com/newsun/web/entity/ExpressEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.ExpressEntity"/>
        <mapping resource="com/newsun/web/entity/ExpressStateEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.ExpressStateEntity"/>
        <mapping class="com.newsun.web.entity.ExpressStateLogEntity"/>
        <mapping resource="com/newsun/web/entity/ExpressStateLogEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/FunctionsEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.FunctionsEntity"/>
        <mapping class="com.newsun.web.entity.InOutDepotEntity"/>
        <mapping resource="com/newsun/web/entity/InOutDepotEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/LendEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.LendEntity"/>
        <mapping class="com.newsun.web.entity.LendDetailEntity"/>
        <mapping resource="com/newsun/web/entity/LendDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.LendLogEntity"/>
        <mapping resource="com/newsun/web/entity/LendLogEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.LoginGroupEntity"/>
        <mapping resource="com/newsun/web/entity/LoginGroupEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/LoginGroupUserLinkEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.LoginGroupUserLinkEntity"/>
        <mapping resource="com/newsun/web/entity/ManufactureEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.ManufactureEntity"/>
        <mapping resource="com/newsun/web/entity/ManufactureDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.ManufactureDetailEntity"/>
        <mapping resource="com/newsun/web/entity/MeetingEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.MeetingEntity"/>
        <mapping resource="com/newsun/web/entity/MeetingUserEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.MeetingUserEntity"/>
        <mapping class="com.newsun.web.entity.OpLogEntity"/>
        <mapping resource="com/newsun/web/entity/OpLogEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/OrderDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.OrderDetailEntity"/>
        <mapping class="com.newsun.web.entity.OrdersEntity"/>
        <mapping resource="com/newsun/web/entity/OrdersEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/PriceEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.PriceEntity"/>
        <mapping class="com.newsun.web.entity.ProductEntity"/>
        <mapping resource="com/newsun/web/entity/ProductEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.ProviderEntity"/>
        <mapping resource="com/newsun/web/entity/ProviderEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.RebateEntity"/>
        <mapping resource="com/newsun/web/entity/RebateEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.RebateDetailEntity"/>
        <mapping resource="com/newsun/web/entity/RebateDetailEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/RoleEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.RoleEntity"/>
        <mapping class="com.newsun.web.entity.RoleFuncLinkEntity"/>
        <mapping resource="com/newsun/web/entity/RoleFuncLinkEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/SmsEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.SmsEntity"/>
        <mapping resource="com/newsun/web/entity/SaleEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.SaleEntity"/>
        <mapping resource="com/newsun/web/entity/SaleDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.SaleDetailEntity"/>
        <mapping class="com.newsun.web.entity.SaleInvoiceEntity"/>
        <mapping resource="com/newsun/web/entity/SaleInvoiceEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.SaleInvoiceDetailEntity"/>
        <mapping resource="com/newsun/web/entity/SaleInvoiceDetailEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/SaleReturnEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.SaleReturnEntity"/>
        <mapping class="com.newsun.web.entity.SaleReturnDetailEntity"/>
        <mapping resource="com/newsun/web/entity/SaleReturnDetailEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/ServiceEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.ServiceEntity"/>
        <mapping resource="com/newsun/web/entity/StockEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.StockEntity"/>
        <mapping class="com.newsun.web.entity.StockDetailEntity"/>
        <mapping resource="com/newsun/web/entity/StockDetailEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/StorageAccountEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.StorageAccountEntity"/>
        <mapping class="com.newsun.web.entity.StorageAccountTotalEntity"/>
        <mapping resource="com/newsun/web/entity/StorageAccountTotalEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.TakeStockEntity"/>
        <mapping resource="com/newsun/web/entity/TakeStockEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.TakeStockDetailEntity"/>
        <mapping resource="com/newsun/web/entity/TakeStockDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.TaskEntity"/>
        <mapping resource="com/newsun/web/entity/TaskEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/TaskOpDetailEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.TaskOpDetailEntity"/>
        <mapping class="com.newsun.web.entity.TodoEntity"/>
        <mapping resource="com/newsun/web/entity/TodoEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/TodoDataLinkEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.TodoDataLinkEntity"/>
        <mapping class="com.newsun.web.entity.UsersEntity"/>
        <mapping resource="com/newsun/web/entity/UsersEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.UserRoleLinkEntity"/>
        <mapping resource="com/newsun/web/entity/UserRoleLinkEntity.hbm.xml"/>
        <mapping resource="com/newsun/web/entity/WebOptionEntity.hbm.xml"/>
        <mapping class="com.newsun.web.entity.WebOptionEntity"/>


        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!--<property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>